<!DOCTYPE HTML>
<html lang="pl" ng-app="myApp" ng-controller="myCtrl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title></title>
	
	<meta name="description" content="Opis w Google" />
	<meta name="keywords" content="słowa, kluczowe, wypisane, po, porzecinku" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="app.js"></script>
</head>

<body>
	<div id="stations">
	<div id="back" onclick="consoleLog(this.id);"><img src="imgs/back-arrow.png" width="20" height="33"></div>
	STATIONS
	<div id="switch" onclick="consoleLog(this.id);"><img src="imgs/switch.png" width="28" height="33"></div>
	</div>
	<div style="clear:both">
	<div id="radioContainer">
	<div ng-repeat="radio in station">
		<div class="stationContainer"  ng-click="setStation(radio.radioStation);">{{radio.radioStation}} FM<span class="frequency">{{radio.frequency}}</span>
		</div>
		<div class="radioImage" id="{{radio.radioStation}}">
			<div class="imageInRadio"><img class="borderRadius" ng-src="{{radio.img}}" width="155" height="155"></div>
			<div class="plusMinus"><img src="imgs/minus.png" width="35" height="35"></div>
			<div class="plusMinus" style="float:right;"><img src="imgs/plus.png" width="35" height="35"></div>
		</div><div style="clear:both;"></div>
	</div>
	</div><div style="clear:both"></div>
	<div id="footer"></div>
</body>
</html>