body {
	background-color: rgb(46,46,58);
	margin: 0 !important;
	font-family: 'Montserrat', sans-serif;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#stations {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	float: left;
	text-align: center;
	color: white;
	background-color: rgb(238,174,97);
	padding-top: 30px;
	font-size: 26px;
}
#back {
	float: left;
	padding-left: 20px;
}
#switch {
	float: right;
	padding-right: 20px;
}
#radioContainer {
	scroll: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
	margin-top: 100px;
}
.stationContainer {
	height: 25px;
	font-size: 26px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgb(163,172,190);
	border-bottom: 1px solid rgb(67,67,77); 
}
.stationContainer:last-child {
	border-bottom: 0;
}
.frequency {
	float: right;
}
.plusMinus {
	height: 40px;
	width: 40px;
	float: left;
}
.radioImage {
	width: 100%;
	height: 188px;
	display: none;
	font-size: 26px;
	color: rgb(163,172,190);
}
.imageInRadio {
	height: 60px;
	width: 155px;
	padding-top: 20px;
	margin: 0 auto;
	left: 0;
}
.borderRadius {
	border-radius: 50%;
	border: 2px solid rgb(163,172,190);
}
#footer {
	position: fixed;
	bottom: 0;
	height: 77px;
	width: 100%;
	padding-top: 10px;
	line-height: 22px;
	font-size: 26px;
	background-color: rgb(34,34,43);
	border-top: 1px solid rgb(77,80,92);
	text-align: center;
	color: rgb(163,172,190);
}